.image-size {
    width: 200px;
    height: 200px;
}

.block-height {
    height: 200px;
}
.left-img {
    float:left; /* Выравнивание по левому краю */
    margin: 7px 7px 7px 0; /* Отступы вокруг картинки */
}
.text-justify {
    text-align: justify;
}